bin/
obj/

*.log
*.tlog
*.vspscc
*.vssscc
*.user
*.rsuser
*.suo
*.sln.docstates

.vs/
.idea/
.DS_Store

*.tmp
*.bak
*.swp
*.swo
*.sln.cache

*.nupkg
*.snupkg
*.lock.json
*.pdb

*.DotSettings.user

.git/

*.trx
